.App {
  text-align: center;
}

ul.nav{
  display: flex;
  flex-flow: row;
  margin-top: 50px;
}
li.nav-items{
  color: black;
  background: white;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
ul{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  margin-bottom: 10px;
}
ul li{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: black;
  margin-bottom: 10px;
}
div.cWrap {
  
}

